.card {
  background-color: var(--white);
  width: 800px;
  margin: 0 auto;
  padding: 16px;
  border-radius: 12px;
  color: var(--primary);
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.input {
  display: block;
  width: 100%;
  padding: 4px 8px;
  margin-bottom: 16px;
  font-size: large;
}
